<div class="page-header">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<h1>Quản lý tài khoản</h1>
						</div>
					</div>
				</div>
			</div>
<div class="section">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<img class="media-object" src="../img/author.png" alt="">
						</div>
						<div class="col-md-8">
							<div class="section-title"><h2>Thông tin</h2></div>
							<div class="col-md-6">
							<form>										
										<p>Họ và tên: {{authUser.UName}}</p>	
										<p>Email: {{authUser.UEmail}}</p>
										<p>Địa chỉ: ...</p>
										<p>Loại tài khoản: Phóng viên, Premium</p>
									
									</form>
							</div>
							<div class="col-md-6">
							<form>										
										
										<p>Bút danh (nếu có): Ahihi</p>
										<p>Số điện thoại: 0123456xxx</p>
										<p>Địa chỉ: ...</p>
										<p>Ngày tạo: {{authUser.UDateCreateFormat}}</p>
									</form>
							</div>
							<button class="pr-button">Cập nhật thông tin</button>
							
						</div>
					</div>
					
									
				</div>
			</div>