
<div class="login-form">
				  <!--  Title-->
				           <div class="login">
				                <h2 class="login-header">Đăng ký</h2>
								    <div class="form_grid" >
				                        <form class="login-container" method="POST" id="frmRegister" novalidate>
				                             <input type="text" placeholder="Họ tên" Name="name" required>
											 <input type="text" placeholder="Tên tài khoản" Name="username" >
											 <input type="password" placeholder="Mật khẩu" Name="password" >
											 <input type="password" placeholder="Xác nhận mật khẩu" Name="confirm" >
											 <input type="email" placeholder="Địa chỉ email" Name="email" >
											<input type="text" id="txtDOB" name="dob">
											
      <button type="submit" class="btn btn-lg btn-success btn-block">
        <i class="fa fa-check" aria-hidden="true"></i>
        Register
      </button>

				                        </form>	
				                  </div>
				       </div>
				  
				</div>

<div class="login-form">
				  <!--  Title-->
				           <div class="login">
				                <h2 class="login-header">Đăng ký</h2>
								    <div class="form_grid">
				                        <form class="login-container" method="POST" id="frmRegister" novalidate>
				                              <input type="text" placeholder="Họ tên" Name="name" required>
											 <input type="text" placeholder="Tên tài khoản" Name="username" >
											 <input type="password" placeholder="Mật khẩu" Name="password" >
											 <input type="password" placeholder="Xác nhận mật khẩu" Name="confirm" >
											 <input type="email" placeholder="Địa chỉ email" Name="email" >
												<input type="text" id="txtDOB" name="dob">
				                             <input type="submit" value="Đăng ký">
				                        </form>	
				                  </div>
				       </div>
				  
				</div>