 <div class="aside-widget">
							<div class="section-title">
								<h2>Thêm chuyên mục</h2>      
							</div>
    </div>

    <form class = "post-reply" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" style="height: 40px; width:250px;" id="txtCatName" name="CatName" autofocus placeholder="Tên chuyên mục">
      </div>
      <a class="btn btn-primary" href="/admin/category" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Quay lại
      </a>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Lưu
      </button>
    </form>

